
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
html{
    height: 100%;
}
menu {
    position: sticky; top: 0;
    z-index: 100;
}
body {
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;

}
header {
    display: flex;
    background-color: silver;
    text-align: center;
    color: darkred;
    width: 100%;
    align-items: center;
    justify-content: center;
}
header a{
    text-decoration: none;

}
header a:visited {
    color: inherit;
}

header h1{
    cursor: pointer;
}

article{
    display: flex;
    color: ghostwhite;
    justify-content: center;
    min-height: 80vh;

}

article a{
    text-decoration: none;

}
article a:visited {
    color: inherit;
}

nav{
    display: flex;
    background-color: silver;
    text-align: center;
    color: darkred;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

nav p{
    padding: 10px;
    margin: 10px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
    color: darkred;
    cursor: pointer;
}

nav p:hover{
    background-color: #ffbebe;
    border: 1px solid dimgray;
}

.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 30px;
    align-items: center;


}

.left p{
    font-size: 20px;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right{
    flex: 3;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    height: 88vh;
    overflow: auto;

}

.right img{
    max-width: 50%;
    height: auto;
}

.right ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: 'MedievalSharp',fantasy;
}


.right p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.right h1{
    font-size: 60px;
    font-family: 'MedievalSharp',fantasy;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    background-color: silver;
    color: darkred;
    text-align: left;
    width: 100%;
    position: fixed; bottom: 0;
}
footer p{
    margin-left: 2em;
    font-size: 20px;
    cursor: pointer;
}

.video-container {
    max-width: 600px;
    margin: auto;
}

.przycisk{
    cursor: pointer;
}

section::after {
    content: "";
    clear: both;
    display: table;
}
@media (max-width: 450px) {
    footer p{
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .right p{
        font-size: 14px;
    }

    .right li{
        font-size: 14px;
    }
    .right h1{
        font-size: 16px;
    }
    .left p{
        font-size: 10px;
    }

    .przycisk{
        width: 15%;
    }


}

@media (max-width: 900px) {
    #dariusz{
        min-width: 70%;
        height: auto;
        transition: transform .2s;
        margin: 0 auto;
    }

    #dariusz:hover {
        transform: scale(2);
    }

    .zoom{
        transition: transform .2s;
    }

    .zoom:hover {
        transform: scale(1.5);
    }
    .right{
        height: 84vh;
    }
}


input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    resize: vertical
}

input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    resize: vertical
}

input[type=submit] {
    padding: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: azure;
    border: 2px solid black;
    border-radius: 20px;
    color: darkred;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #ffbebe;
    border: 2px solid dimgray;
}

.container {
    border-radius: 2px;
    background-color: #000000;
    padding: 10px;
    color: black;
}
.container label{
    color: white;
}
.container p{
    padding: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 20px;
    color: darkred;
    cursor: pointer;
    font-size: 20px;
}
